{% extends "base.html" %}

{% block content %}
<!doctype html>
<html>
<head>
    <title>All Reports</title>
</head>
<body>
    <h1>All Reports</h1>
    
    {% if fastqc_reports %}
    <h2>FastQC Reports for Trimmed Data</h2>
    <ul>
        {% for report in fastqc_reports %}
        <li><a href="{{ url_for('view_report', filename=report) }}">{{ report }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
    
    {% if multiqc_reports %}
    <h2>MultiQC Reports</h2>
    <ul>
        {% for report in multiqc_reports %}
        <li><a href="{{ url_for('view_multiqc_report', filename=report) }}">{{ report }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
    
    <a href="/download_all">Download All Reports and Files</a>
</body>
</html>

{% endblock %}